*{
  margin: 0%;
  padding: 0%;

}

body{
    background-color: #111827fa;
    color: #fefefe;
}

h1{
  text-align: center;
  margin: 2rem 0rem;
  font-size: 1.7rem;
  font-weight: lighter;
}

.titel_admin{
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
  color: aliceblue;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  padding: .5rem 1rem;
  margin: 2rem 0rem;
  /* border-radius: 5px; */
  border: none;
}

input[type="text"]{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline:none;
}

input[type="submit"]{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table{
  width: 90vw;
  margin-left: 5rem;
}

td{
  padding: .5rem;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

@media (max-width:600px) {
  table{  margin-left: 0rem; }
  .titel_admin{ font-size: 1.7rem; }
  .titel{ font-size: 1rem;}
}



.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover{
  background-color: rgb(244, 19, 19);
}
.button:hover .svgIcon{
  width: 21px;
}
