
h1{
  text-align: center;
  margin: 2rem 0rem;
  font-size: 1.7rem;
  font-weight: lighter;
}

.titel_admin{
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
  color: aliceblue;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  padding: .5rem 1rem;
  margin: 2rem 0rem;
  /* border-radius: 5px; */
  border: none;
}

input[type="text"]{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline:none;
}

input[type="submit"]{
  color: #000;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}