*{
        margin: 0%;
        padding: 0%;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;

}

body{
    overflow-x:hidden;
}


.result-tab{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-item{
    height: 40vh;
    width: 15rem;
    box-shadow: 2px 1px 5px #0000002a;
    background-color: aqua;
}

.img-item img{
    height: 100%;
    width: 100%;
}

.search-result{
    display: flex;
    gap: 1rem;
    overflow: scroll;
    width: 100vw;
}

.search-result::-webkit-scrollbar{
    display: none;
}

.price-name{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card-text{
    margin: 0%;
}
