body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
}

.cart-container {
    max-width: 800px;
    margin: 11% auto 4% auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
    color: #333;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cart-item:hover {
    transform: scale(1.02);
}

.cart-item img {
    width: 100px;
    border-radius: 8px;
}

.item-details h2 {
    margin: 0;
    color: #444;
    font-size: 18px;
}

.item-details p {
    margin: 5px 0;
    color: #777;
}

.item-actions {
    display: flex;
    align-items: center;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #ff1a1a;
}

.cart-summary {
    text-align: right;
    margin-top: 20px;
    padding: 20px;
}

.cart-summary h2 {
    color: #333;
    margin-bottom: 20px;
}

.checkout-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #0056b3;
}
