*{
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize !important;
    color: #666b7f;
}

.fav-item button{
    border: none;
    background: transparent;
}

.item-card{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0rem 2rem;
    padding-top: 6rem;
    position:relative
}
.item-info{
    padding-top: 2rem;
}

.color-box{
    display: flex;
    gap: 1rem;
}

.black{
    height: 8rem;
    width: 5rem;
    overflow: hidden;
}

h3{
    margin-top: 1rem !important;
}

.add-to-cart{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.count-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    color: #666b7f;
}

.minus,.plus{
    border: none;
    font-size: 1.5rem;
    transition: .1s;
    border-radius: 10px;
    color: #666b7f !important;
    padding: .5rem 1rem !important;
    background-color: #f8f9fa;
}

.count-btn input{
    background-color: #f8f9fa;
    outline: none !important;
    border: none !important;
    width: 2vw !important;
    padding: 0rem !important;
}

.buy-btn{
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    transition: .1s;
    background-color: #0a0b0b;
    color: #f8f9fa !important;
    padding: .5rem 1rem !important;
}

.availability-stock{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    gap: 1rem;
}

.icon-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-btn i{
font-size: 1.5rem;
}

.container-main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    align-items: center;
}

.container-pargraf{
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
}

.container-line{
    width: 30vw;
    height: .1vh;
    background-color: #666b7f;
}

.container-main h2{
   display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #070707;
} 

.container-main h2::after{
    content: "";
    height: .4vh;
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0vw;
    transition: 0.3s ease-in-out;
    background-color: #fcb800;
}

/*----------------- rating btn ----------------------*/

#btn-rating {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  
  #btn-rating::before,
  #btn-rating::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
  }
  
  #btn-rating::before {
    left: -10px;
    background: #240046;
  }
  
  #btn-rating::after {
    right: -10px;
    background: #5a189a;
  }
  
  #btn-rating:hover::before,
  #btn-rating:hover::after {
    width: 58%;
  }
  
  #btn-rating:hover span {
    color: #e0aaff;
    transition: 0.3s;
  }
  
  #btn-rating span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
  }
  
/*--------------------------- stars------------------------- */
.rating-box{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #666; */
    z-index: 501;
    top: 0%;
}

.rating-pop{
    height: 12rem;
    width: 30rem;
    border-radius: 10px;
    /* text-transform: capitalize; */
    background-color: #f8f9fa;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
/* ------------------hover-----------------------*/

.minus:hover,.plus:hover{
    color: #fcb800 !important;
}

.buy-btn:hover{
    background-color: #fcb800 !important;
}

.icon-btn i:hover{
color: #070707 !important;
scale: 1.2;
}

.container-main h2:hover::after{
    width:100% !important;
}

.container-main h2:hover{
    color: #fcb800 ;

}

.carousel-inner{
    height: 100%; 
    width:100%;
}

/*----------------------- responsive ----------------------------*/
@media (max-width: 1001px) {
    
    .item-card{
        flex-direction: column;
        align-items: center;
    }

    .container-line{
        width: 16vw;
    }

}

@media (max-width: 770px) {
    #carouselDemo{
        height: 66vh !important;
    }

    .item-info {
        padding-top: 5rem;
    }

    .carousel-inner{
        width: 65vw !important ;
        margin-left: 17%;
    }
    
}

@media (max-width: 575px) {
   
    .item-img-box{
        height: 60vh;
    }

    .container-line{
        display: none;
    }

}

@media (max-width:425px) {
    
    .item-img-box{
        height: 40vh;
    }

    .buy-btn{
        font-size: .5rem;
        padding: .5rem !important;
    }

    .count-btn input{
        width: 4vw !important;
    }

    .minus, .plus{
        font-size: 1rem !important;
        padding: .5rem !important;
    }

    .black{
        width: 3rem;
        height: 3rem;
    }

    .container-main h2{
        font-size: .8rem !important;    
    }
    .carousel-inner{
        height: 350px; 
        width:100%;
    }

}

@media (max-width:377px) {
    .item-info{
        padding-top: 0rem;
    }
}