*{
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize !important;
    color: #666b7f;
}

.fav-item{
    position: absolute;
    top: 13%;
    z-index: 108;
    left: 3%;
}

.fav-item button{
    border: none;
    background: transparent;
}

.fav-item button i{
    color: red;
}

.item-card{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 0rem 2rem;
    padding-top: 6rem;
}


.item-img-box {
    height: 90vh;
    width: 30vw;
    /* overflow: hidden; */
    background-color: #fcb800;
}

.item-img-box img ,.black img {
    height: 100% !important;
    width: 100% !important;
}


.item-info{
    padding-top: 2rem;
}

.color-box{
    display: flex;
    gap: 1rem;
}

.black{
    height: 8rem;
    width: 5rem;
    overflow: hidden;
}

h3{
    margin-top: 1rem !important;
}

.add-to-cart{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.count-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    color: #666b7f;
}

.minus,.plus{
    border: none;
    font-size: 1.5rem;
    transition: .1s;
    border-radius: 10px;
    color: #666b7f !important;
    padding: .5rem 1rem !important;
    background-color: #f8f9fa;
}

.count-btn input{
    background-color: #f8f9fa;
    outline: none !important;
    border: none !important;
    width: 2vw !important;
    padding: 0rem !important;
}

.buy-btn{
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    transition: .1s;
    background-color: #0a0b0b;
    color: #f8f9fa !important;
    padding: .5rem 1rem !important;
}

.availability-stock{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    gap: 1rem;
}

.icon-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-btn i{
font-size: 1.5rem;
}

.container-main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.container-pargraf{
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
}

.container-line{
    width: 30vw;
    height: .1vh;
    background-color: #666b7f;
}

.container-main h2{
   display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #070707;
} 

.container-main h2::after{
    content: "";
    height: .4vh;
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0vw;
    transition: 0.3s ease-in-out;
    background-color: #fcb800;
}

/* ------------------hover-----------------------*/

.minus:hover,.plus:hover{
    color: #fcb800 !important;
}

.buy-btn:hover{
    background-color: #fcb800 !important;
}

.icon-btn i:hover{
color: #070707 !important;
scale: 1.2;
}

.container-main h2:hover::after{
    width:100% !important;
}

.container-main h2:hover{
    color: #fcb800 ;

}

/*----------------------- responsive ----------------------------*/
@media (max-width: 1440px) {
    .item-img-box{
    height: 77vh;
    width: 50vw;
    }
}

@media (max-width: 1210px) {
    .item-img-box{
        height: 80vh;
        width: 65vw;
    }
}
@media (max-width: 1001px) {
    
    .item-card{
        flex-direction: column;
        align-items: center;
    }

    .item-img-box{
        width: 50vw;
    }

    .container-line{
        width: 16vw;
    }

}

@media (max-width: 575px) {
   
    .item-img-box{
        height: 60vh;
    }

    .container-line{
        display: none;
    }

}

@media (max-width:425px) {
    
    .item-img-box{
        height: 40vh;
    }

    .buy-btn{
        font-size: .5rem;
        padding: .5rem !important;
    }

    .count-btn input{
        width: 4vw !important;
    }

    .minus, .plus{
        font-size: 1rem !important;
        padding: .5rem !important;
    }

    .black{
        width: 3rem;
        height: 3rem;
    }

    .container-main h2{
        font-size: .8rem !important;    
    }

}