*{
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize !important;
    color: #666b7f;
}

.fav-item button{
    border: none;
    background: transparent;
}


.add-to-cart{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.count-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    color: #666b7f;
}

.minus,.plus{
    border: none;
    font-size: 1.5rem;
    transition: .1s;
    border-radius: 10px;
    color: #666b7f !important;
    padding: .5rem 1rem !important;
    background-color: #f8f9fa;
}

.count-btn input{
    background-color: #f8f9fa;
    outline: none !important;
    border: none !important;
    width: 2vw !important;
    padding: 0rem !important;
}

.buy-btn{
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    transition: .1s;
    background-color: #0a0b0b;
    color: #f8f9fa !important;
    padding: .5rem 1rem !important;
}

/* new */

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-slider {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.main-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.main-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 100px;
}

.thumbnails img {
  width: 80px;
  height: auto;
  cursor: pointer;
  object-fit: contain;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.thumbnails img.active {
  border-color: #ca0a0a; /* Border color for the active thumbnail */
}

.navigation {
  display: none; /* Hide navigation buttons */
}

.item-info {
  flex: 1;
}

.item-info h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.item-info p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.item-info h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.availability-stock a {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #555;
}

.form-control{
  background-color: transparent !important;
  font-size: 1.5rem !important;
}

@media (max-width: 768px) {
  .product-container {
      flex-direction: column;
      align-items: center;
  }

  .main-image {
      height: 300px;
  }

  .thumbnails img {
      width: 60px;
  }
}

@media (max-width: 480px) {
  .thumbnails img {
      width: 50px;
  }

  .item-info {
      max-width: 100%;
      padding: 0 10px;
  }
}

/* end */
.availability-stock{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    gap: 1rem;
}

.icon-btn{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.icon-btn i{
font-size: 1.5rem;
}

.container-main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    align-items: center;
}

.container-pargraf{
    display: flex;
    padding: 2rem 2rem;
    flex-direction: column;
}

.container-line{
    width: 30vw;
    height: .1vh;
    background-color: #666b7f;
}

.container-main h2{
   display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #070707;
} 

.container-main h2::after{
    content: "";
    height: .4vh;
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0vw;
    transition: 0.3s ease-in-out;
    background-color: #fcb800;
}

textarea {
    resize: none !important;
}

/*----------------- rating btn ----------------------*/

#btn-rating {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  
  #btn-rating::before,
  #btn-rating::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
  }
  
  #btn-rating::before {
    left: -10px;
    background: #240046;
  }
  
  #btn-rating::after {
    right: -10px;
    background: #5a189a;
  }
  
  #btn-rating:hover::before,
  #btn-rating:hover::after {
    width: 58%;
  }
  
  #btn-rating:hover span {
    color: #e0aaff;
    transition: 0.3s;
  }
  
  #btn-rating span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
  }
  
/*--------------------------- stars------------------------- */
.rating-box{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(1px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #666; */
    z-index: 501;
    top: 0%;
}

.rating-pop{
    height: fit-content;
    width: 30rem;
    padding: .5rem;
    border-radius: 10px;
    /* text-transform: capitalize; */
    background-color: #f8f9fa;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
/* ------------------hover-----------------------*/

.minus:hover,.plus:hover{
    color: #fcb800 !important;
}

.buy-btn:hover{
    background-color: #fcb800 !important;
}

.icon-btn i:hover{
color: #070707 !important;
scale: 1.2;
}

.container-main h2:hover::after{
    width:100% !important;
}

.container-main h2:hover{
    color: #fcb800 ;

}



/*----------------------- responsive ----------------------------*/
@media (max-width: 1001px) {
    


    .container-line{
        width: 16vw;
    }

}



@media (max-width: 575px) {
   
    .item-img-box{
        height: 60vh;
    }

    .container-line{
        display: none;
    }

}

@media (max-width:425px) {
    
    .item-img-box{
        height: 40vh;
    }

    .buy-btn{
        font-size: .5rem;
        padding: .5rem !important;
    }

    .count-btn input{
        width: 4vw !important;
    }

    .minus, .plus{
        font-size: 1rem !important;
        padding: .5rem !important;
    }

    .black{
        width: 3rem;
        height: 3rem;
    }

    .container-main h2{
        font-size: .8rem !important;    
    }


}

