*{
    margin: 0%;
    padding: 0%;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;

}

.img_fav{
    margin-top: 50%;
    height: 10rem;
    width: 100%;
}

.wishlist-open {
   transform: translateX(0%);
}

.wishlist-closed {
    transform: translateX(100%);
}


.wishlist{
    height: 90vh;
    width: 18rem;
    background-color: #f5f6f7 !important;
    transition: all .5s ease-in-out;
    padding: 1rem .5rem !important;
    position: fixed;
    overflow-y: scroll;
    z-index: 500;
    top: 10%;
    right: 0%;
}

.wishlist::-webkit-scrollbar{
    visibility: hidden;
}

.product-details{
    background-color: #e8e8e9 !important;
    padding: 1rem;
    position: relative;
}

ul{
    padding: 0% !important;
}

.img{
    height: 4rem;
    width:3rem;
    background-color: aqua;
}

.img img{
    height: 100%;
    width: 100%;
}

.remove-btn{
    position: absolute;
    top: 1%;
    font-size: 1.2rem;
    right: 3%;
}

.remove-btn:hover{
        color: #fc2a00 !important;
}